<div class="task" id="{{ task?.id }}">
  <div>
    <input
      class="styled-checkbox"
      id="styled-checkbox-{{ task?.id }}"
      type="checkbox"
      value="{{ task?.id }}"
      (change)="selectTask(task.id)"
    />
    <label for="styled-checkbox-{{ task?.id }}">{{ task?.title }}</label>
    <label class="date">{{ task?.date }}</label>
  </div>

  <div class="button-container">
    <button
      class="btn btn-red"
      (click)="delete(task.id)"
      *ngIf="!task.isDeleted"
    >
      <i title="delete" class="bi bi-trash3"></i>
    </button>
    <button class="btn btn-gray" [routerLink]="['/todo/' + task.id]">
      <i title="view" class="bi bi-ticket-detailed"></i>
    </button>
    <button
      class="btn btn-green"
      [ngClass]="{
        'done btn-green': task?.state,
        'todo btn-blue': !task?.state
      }"
      (click)="changeTaskState(task)"
    >
      <i title="state" class="bi bi-check2-circle"></i>
    </button>
  </div>
</div>
